aside.center.author
  img(src='/images/ross-howard-jones.jpg', alt='Ross Howard-Jones')
  h2.sm Ross Howard-Jones
  p Is a User Interface Designer and photography enthusiast who lives in Vancouver, BC.