aside.author
  margin 60px 0 0 0
  padding 60px 0 0 0
  border-top 1px solid rgb(229,229,229)
  img
    width 100px
    margin 0 auto
    border-radius 50%
  @media (max-width: 1023px)
    margin 48px 0 0 0
    padding 48px 0 0 0
  @media (max-width: 768px)
    margin 36px 0 0 0
    padding 36px 0 0 0
  @media (max-width: 568px)
    margin 27px 0 0 0
    padding 27px 0 0 0