.embed
  height 0
  overflow hidden
  position relative
  iframe
  object
  embed
    width 100%
    height 100%
    top 0
    left 0
    position absolute
.video
  padding-top 74.25%
  @media (max-width: 1023px)
    padding-top 69.75%
  @media (max-width: 768px)
    padding-top 67.5%
  @media (max-width: 568px)
    padding-top 61.875%
  @media (max-width: 480px)
    padding-top 60.75%