.masthead
  padding 5% 0
  position relative
  overflow hidden
  .container
    padding 6% 0
    position relative
    z-index 1
    h1
      margin 0
      padding 0 5%
  .img
    top 0
    bottom 0
    left 0
    right 0
    position absolute
  @media (max-width: 480px)
    margin 0 0 5% 0
@media (max-width: 768px)
  .masthead
    .container
      padding 8% 0
@media (max-width: 568px)
  .masthead
    .container
      padding 10% 0
.page-index
  .masthead
    .container
      padding 12% 0